@font-face {
  font-family: 'aller_displayregular';
  src: url('fonts/allerdisplay.eot');
  src: url('fonts/allerdisplay.eot?#iefix') format('embedded-opentype'),
       url('fonts/allerdisplay.woff2') format('woff2'),
       url('fonts/allerdisplay.woff') format('woff'),
       url('fonts/allerdisplay.ttf') format('truetype'),
       url('fonts/allerdisplay.svg#aller_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin aller-display{
  font-family: 'aller_displayregular';
}
