/* line 1, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'aller_displayregular';
  src: url("fonts/allerdisplay.eot");
  src: url("fonts/allerdisplay.eot?#iefix") format("embedded-opentype"), url("fonts/allerdisplay.woff2") format("woff2"), url("fonts/allerdisplay.woff") format("woff"), url("fonts/allerdisplay.ttf") format("truetype"), url("fonts/allerdisplay.svg#aller_displayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 17, sass/_main.scss */
body, html {
  height: 100%;
}

/* line 21, sass/_main.scss */
#wrapper {
  height: 100%;
  min-height: 900px;
  min-width: 1600px;
  overflow: hidden;
  width: 100%;
  background-color: #3b4263;
}

/* line 30, sass/_main.scss */
#app {
  padding-top: 65px;
  width: 1600px;
  margin: 0 auto;
  height: 835px;
  position: relative;
  background-color: #f5f5f5;
}
/* line 38, sass/_main.scss */
#app > div {
  position: relative;
  z-index: 1;
}
/* line 43, sass/_main.scss */
#app .curtain {
  background-color: rgba(59, 66, 99, 0.74);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.8s, height 0s 0.8s;
  -moz-transition: opacity 0.8s, height 0s 0.8s;
  -ms-transition: opacity 0.8s, height 0s 0.8s;
  -o-transition: opacity 0.8s, height 0s 0.8s;
  transition: opacity 0.8s, height 0s 0.8s;
}
/* line 60, sass/_main.scss */
#app .curtain .title {
  color: white;
  font-size: 100px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
/* line 66, sass/_main.scss */
#app .curtain .reset {
  border: 4px dashed #ffba00;
  color: #ffba00;
  border-radius: 50px;
  display: inline-block;
  font-size: 35px;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  width: 350px;
  cursor: pointer;
}
/* line 78, sass/_main.scss */
#app .curtain > div {
  height: 260px;
  margin: -130px auto 0;
  position: relative;
  text-align: center;
  top: 50%;
  font-family: 'aller_displayregular';
}
/* line 88, sass/_main.scss */
#app .scuare {
  background-color: #4d71fa;
  bottom: 0;
  height: 1000px;
  left: 100%;
  margin-left: -300px;
  margin-top: -400px;
  position: absolute;
  top: 100%;
  transform: rotate(45deg);
  width: 1000px;
  z-index: 0;
}
/* line 107, sass/_main.scss */
#app.stopped .curtain {
  opacity: 1;
  height: 100%;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

/* line 120, sass/_main.scss */
.success {
  text-align: center;
}
/* line 122, sass/_main.scss */
.success .char {
  background-color: rgba(80, 82, 90, 0.98);
  border-radius: 10px;
  color: white;
  font-size: 80px;
  height: 140px;
  line-height: 140px;
  margin: 0 8px;
  width: 120px;
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'aller_displayregular';
}
/* line 134, sass/_main.scss */
.success .char.unknown {
  color: transparent;
}
/* line 137, sass/_main.scss */
.success .char.disabled {
  background-color: rgba(80, 82, 90, 0.3);
}

/* line 143, sass/_main.scss */
.fails {
  width: 835px;
  float: right;
}
/* line 146, sass/_main.scss */
.fails .title {
  font-family: 'aller_displayregular';
  color: #53555d;
  font-size: 50px;
  text-transform: uppercase;
}
/* line 152, sass/_main.scss */
.fails .char {
  color: #4d71fa;
  font-size: 100px;
  margin: 0 5px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'aller_displayregular';
}

/* line 160, sass/_main.scss */
svg {
  width: 400px;
  height: 650px;
}
/* line 164, sass/_main.scss */
svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 1px;
  fill: transparent;
  stroke: #000000;
  transition: stroke-dashoffset 3s linear 0s, fill .5s 1.2s, stroke .5s 1.5s;
}
/* line 173, sass/_main.scss */
svg .painted path {
  stroke: transparent;
  stroke-dashoffset: 0;
}
/* line 178, sass/_main.scss */
svg .painted .hangman {
  fill: #53555d;
}
/* line 181, sass/_main.scss */
svg .painted .skull,
svg .painted .neck,
svg .painted .left-hand,
svg .painted .right-hand,
svg .painted .left-foot,
svg .painted .right-foot {
  fill: #f1cc8d;
}
/* line 189, sass/_main.scss */
svg .painted .ears {
  fill: #ffba6c;
}
/* line 192, sass/_main.scss */
svg .painted .eyes {
  fill: #3e3e3f;
}
/* line 195, sass/_main.scss */
svg .painted .mouth {
  fill: #ffffff;
}
/* line 198, sass/_main.scss */
svg .painted .deco {
  fill: #8c97a5;
}
/* line 201, sass/_main.scss */
svg .painted .hair {
  fill: #ecc48f;
}
/* line 204, sass/_main.scss */
svg .painted .corpus-left,
svg .painted .left-arm {
  fill: #9ac25f;
}
/* line 208, sass/_main.scss */
svg .painted .corpus-pants,
svg .painted .left-leg,
svg .painted .right-leg {
  fill: #485c90;
}
/* line 213, sass/_main.scss */
svg .painted .corpus-right,
svg .painted .right-arm {
  fill: #6a9c6d;
}
/* line 217, sass/_main.scss */
svg .painted .scar {
  fill: none;
  stroke: #ffba6c;
  stroke-width: 3px;
}
